<navbar></navbar>

<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h2>The Great Hall</h2>
      <dl>
        <dt>wengkhing</dt>
        <dd>Hi guys</dd>
      </dl>
      <dl>
        <dt>johndoe</dt>
        <dd>Hey what's up</dd>
      </dl>
      <dl>
        <dt>wengkhing</dt>
        <dd>Just mastered MEAN stack!</dd>
      </dl>
    </div>

    <form class="form-inline">
      <input type="text" class="form-control" placeholder="Type message.." ng-model="message">
      <button ng-click="send()" class="btn btn-default">Send</button>
    </form>
    
  </div>
</div>